@use '../../App.scss' as *;
@use '../../styles/vars' as *;
@use '../../styles/mixins' as *;

.services {
  display: flex;
  justify-content: center;
}

.wrapper {
  max-width: 1160px;
  padding-left: 60px;
}

.title {
  @include h2;
  color: $c-title-light;
  margin-top: 65px;
  margin-bottom: 35px;
}

.filters {
  display: flex;
  gap: 50px;
  margin-bottom: 75px;
}


