@use '../../App.scss' as *;
@use '../../styles/vars' as *;
@use '../../styles/mixins' as *;

.filter {
  display: flex;
  align-items: center;
  gap: 10px;
}

.title {
  @include body-text;
  color: $c-header;
}

.control{
  display: flex; 
  justify-content: center;
  align-items: center; 
}

.occupation {
  @include body-text;
  padding: 3px 18px;
  border-radius: 14px;
  background-color: $c-gray;
  color: $c-header;
}

.dropdown {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.close {
  width: 8px;
  height: 8px;
  cursor: pointer;
}
