@font-face {
  font-family: "Montserrat";
  src: url('/src/assets/fonts/Montserrat-Light.woff2') format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: "Montserrat";
  src: url('/src/assets/fonts/Montserrat-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url('/src/assets/fonts/Montserrat-SemiBold.woff2') format('woff2');
  font-weight: 600;
}