@font-face {
  font-family: "Montserrat";
  src: url(/fonts/Montserrat-Light.woff2) format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "Montserrat";
  src: url(/fonts/Montserrat-Regular.woff2) format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url(/fonts/Montserrat-SemiBold.woff2) format("opentype");
  font-weight: 600;
}