@mixin respond-to($breakpoint) {
  @if $breakpoint == mobile {
    @media (min-width: 320px) and (max-width: 640px) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media (min-width: 640px) and (max-width: 1024px) {
      @content;
    }
  }
}

@mixin h1 {
  font-family: Montserrat, sans-serif;
  font-size: 75px;
  font-weight: 600;
  line-height: 75px;
}

@mixin h2 {
  font-family: Montserrat, sans-serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
}

@mixin h3 {
  font-family: Montserrat, sans-serif;
  font-size: 35px;
  font-weight: 300;
  line-height: 35px;
}

@mixin h4 {
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}

@mixin h5 {
  font-family: Montserrat, sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
}

@mixin h6 {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

@mixin button-text {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

@mixin body-text {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

@mixin small-text {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
}

@mixin text {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}
