$c-background-light: #FFFFFF;
$c-background-dark: #414141;
$c-primary: #3D948C;
$c-primary-lighter: #41A297;
$c-text: #212121;
$c-text-light: #929292;
$c-title: #999B9A;
$c-title-secondary: #424242;
$c-secondary: #E7D08C;
$c-secondary-lighter: #DCCE90;
$c-header: #343434;
$c-footer: #383838;
$c-gray: #EBEBEB;
$c-services-green: #29B4AD;
$c-services-gray: #B5B7B6;