$c-bg-light: #FFFFFF;
$c-bg-dark: #414141;
$c-primary: #3D948C;
$c-primary-light: #41A297;
$c-text-dark: #212121;
$c-text-dark-light: #929292;
$c-title-light: #999B9A;
$c-title-dark: #424242;
$c-accent: #E7D08C;
$c-accent-light: #DCCE90;
$c-header-bg: #343434;
$c-footer-bg: #383838;
$c-gray-light: #EBEBEB;
$c-services-green: #29B4AD;
$c-services-gray: #B5B7B6;
$c-gray-text: #595959;

$c-search-bg-light: rgba(52, 52, 52, 0.1);
$c-search-bg-dark: rgba(255, 255, 255, 0.1);