@use '../../App.scss' as *;
@use '../../styles/vars' as *;
@use '../../styles/mixins' as *;

.header {
  background-color: $c-header;
  height: 45px;
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 140px;
  padding-right: 140px;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.navContainer {
  display: flex;
  align-items: center;
  margin-inline: 24px;
}

.navigation {
  @include small-text;
  display: flex;
  align-items: center;
  color: $c-background-light;
  gap: 32px;
}
