@use '../../App.scss' as *;
@use '../../styles/vars' as *;
@use '../../styles/mixins' as *;

.header {
  background-color: $c-header;
  height: 45px;
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
}

.logo_container {
  display: flex;
  align-items: center;
}

.nav_container {
  display: flex;
  align-items: center;
  margin-inline: 24px;
}

.navigation {
  @include small-text;
  display: flex;
  align-items: center;
  color: $c-background-light;
  gap: 32px;
}
