@use '../../App.scss' as *;
@use '../../styles/vars' as *;
@use '../../styles/mixins' as *;

.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background-color: var(--bg-color);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  padding: 0 30px;
  background-color: $c-header-bg;
}

.logo_container {
  display: flex;
  align-items: center;
  width: 106px;
  height: 28px;
}

.logo {
  width: 100%;
  height: 100%;
}

.nav_container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

.navigation {
  @include h4;
  display: flex;
  flex-direction: column;
  gap: 35px;
  color: var(--text-color);

  @include respond-to(mobile) {
    @include button-text;
  }
}

.close {
  color: $c-bg-light;
  cursor: pointer;
}
