@use '../../App.scss' as *;
@use '../../styles/vars' as *;
@use '../../styles/mixins' as *;

.filter {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 67px;

  @include respond-to(mobile) {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto 0;
  }
}

.open {
  margin-right: 41px;

  @include respond-to(mobile) {
    margin-right: 0;
  }
}

.title {
  @include body-text;
  color: var(--text-color);
}

.segmented_control {
  display: flex; 
  justify-content: center;
  align-items: center; 
  flex-wrap: nowrap;
  padding: 5px;
  border-radius: 20px;
  gap: 10px;
  background: $c-gray-light;
}

.circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;
}

.arrow {
  position: absolute;
}

.dropdown {
  @include body-text;
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
  color: $c-header-bg;
}

.selected {
  background-color: inherit;
  border: none;
}

.close {
  color: var(--text-color);
  cursor: pointer;
}
