@use '../../App.scss' as *;
@use '../../styles/vars' as *;
@use '../../styles/mixins' as *;

.search{
  position: relative;
  display: inline-block;
  width: 300px;

  &__input {
    @include body-text;
    width: 100%;
    padding: 12px 20px;
    background-color: var(--search-bg);
    color: var(--text-color);
    border: none;
    border-radius: 28px;
    outline: none;
  
    &::placeholder {
      color: var(--text-color);
    }
  }

  &__icon {
    width: 17px;
    height: 17px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.75;
    color: var(--text-color);
    pointer-events: none;
  }
}