@use '../../App' as *;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 260px;
  height: 400px;
  border-radius: 20px;
  margin-right: 25px;
}

.wrapper {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo {
  margin-bottom: 5px;
}

.line {
  position: relative;
  width: 100%; 
  border: 1.04px solid #DED098;
  margin-bottom: 15px;
}
