@use '../../App.scss' as *;
@use '../../styles/vars' as *;
@use '../../styles/mixins' as *;

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 110px;
  padding-bottom: 34px;

  @include respond-to(tablet) {
    padding-top: 60px;
    padding-bottom: 94px;
  }

  @include respond-to(mobile) {
    padding-top: 30px;
    padding-bottom: 60px;
  }
}

.container {
  position: relative;
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

.background__bottom {
  position: absolute;
  width: 95%;
  height: 565px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  left: -80%;
  background-image: url('/src/assets/img/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (max-width: 1160px) {
    display: none;
  }
}

.background {
  display: flex;
  align-items: center;
  position: relative;
  width: 95%;
  height: 565px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  left: 0;
  background-image: url('/src/assets/img/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include respond-to(tablet) {
    width: 100%;
    border-radius: 0;
    height: 450px;
  }

  @include respond-to(mobile) {
    justify-content: center;
    width: 100%;
    border-radius: 0;
    height: 300px;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -11px;
    left: 0;
    width: 960px;
    height: 11px;
    background-color: $c-primary;

    @media (max-width: 1160px) {
      left: 50%;
      transform: translateX(-50%);
      width: 80%;
    }
  }
}

.block {
  position: absolute;

  @include respond-to(tablet) {
    left: 50px;
  }

  @include respond-to(mobile) {
    text-align: center;
  }
}

.title {
  @include h1;
  color: $c-title-dark;
  margin-bottom: 5px;
  text-transform: uppercase;

  @include respond-to(tablet) {
    font-size: 45px;
  }

  @include respond-to(mobile) {
    font-size: 45px;
  }
}

.question {
  @include h3;
  color: $c-title-dark;
  margin-bottom: 35px;

  @include respond-to(tablet) {
    font-size: 18px;
    margin-bottom: 20px;
  }

  @include respond-to(mobile) {
    font-size: 18px;
    margin-bottom: 20px;
  }
}

.button {
  @include h6;
  font-size: 20px;
  padding: 15px 46px;
  border-radius: 30px;
  background-color: $c-primary;
  color: $c-bg-light;
  border: none;

  &:hover {
    background-color: $c-primary-light;
  }

  @include respond-to(tablet) {
    font-size: 18px;
    padding: 12px 36px;
  }

  @include respond-to(mobile) {
    font-size: 16px;
    padding: 10px 30px;
  }
}

.image_wrapper {
  position: absolute;
  right: 115px;
  bottom: 0;
  width: 310px;
  height: 512px;

  @include respond-to(tablet) {
    width: 240px;
    height: 380px;
    right: 50px;
  }

  @include respond-to(mobile) {
    display: none;
  }
}

.image {
  width: 100%;
  height: 100%;
}
