@use '../../App.scss' as *;
@use '../../styles/vars' as *;
@use '../../styles/mixins' as *;

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: left;
  max-width: 1100px;
  margin-bottom: 70px;
  gap: 97px;

  @include respond-to(tablet) {
    grid-template-columns: repeat(2, 1fr);
    gap: 70px;
  }

  @include respond-to(mobile) {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}

.img_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 85px;
  margin-bottom: 30px;
  border-radius: 50%;

  @include respond-to(mobile) {
    margin-bottom: 20px;
  }
}

.title {
  @include h6;
  color: var(--main-color);
  margin-bottom: 10px;

  @include respond-to(mobile) {
    font-size: 20px;
  }
}

.second_word {
  display: block;
}

.description {
  @include text;

  @include respond-to(mobile) {
    font-size: 14px;
  }
}

.line {
  position: relative;
  width: 100%; 
  border: 3px solid;
  margin-bottom: 15px;

  @include respond-to(mobile) {
    border-width: 2px;
  }
}

.no_results {
  @include h4;
  grid-column: 1 / -1;
  align-items: center;
  padding: 50px 0;
  min-height: 306px;
  color: $c-text-dark-light;
  text-align: center;

  @include respond-to(mobile) {
    min-height: auto;
    font-size: 18px;
    padding: 30px 0;
  }
}
