@use '../../App.scss' as *;
@use '../../styles/vars' as *;
@use '../../styles/mixins' as *;

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $c-primary;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1160px;
  padding-top: 50px;
  padding-bottom: 62px;

  @include respond-to(tablet) {
    padding-top: 30px;
    padding-bottom: 40px;
  }

  @include respond-to(mobile) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.title {
  @include h2;
  margin-bottom: 30px;
  color: $c-bg-light;

  @include respond-to(tablet) {
    font-size: 32px;
    margin-bottom: 20px;
  }

  @include respond-to(mobile) {
    font-size: 18px;
    margin-bottom: 15px;
  }
}

.subtitle {
  @include body-text;
  margin-bottom: 62px;
  font-size: 20px;
  color: $c-bg-light;

  @include respond-to(tablet) {
    font-size: 18px;
    margin-bottom: 40px;
  }

  @include respond-to(mobile) {
    font-size: 12px;
    margin-bottom: 30px;
  }
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input {
  @include body-text;
  width: 690px;
  margin-bottom: 23px;
  padding: 18px 35px;
  color: $c-bg-light;
  background-color: $c-primary-light;
  border: none;
  border-radius: 27px;
  outline: none;

  &::placeholder {
    color: $c-bg-light;
  }

  @include respond-to(tablet) {
    font-size: 14px;
    width: 460px;
    padding: 15px 30px;
  }

  @include respond-to(mobile) {
    font-size: 12px;
    width: 280px;
    padding: 12px 20px;
  }
}

.textarea {
  @include body-text;
  width: 690px;
  height: 180px;
  margin-bottom: 56px;
  padding: 18px 35px;
  border-radius: 27px;
  color: $c-bg-light;
  background-color: $c-primary-light;
  border: none;
  appearance: none;
  outline: none;
  resize: none;

  &::placeholder {
    color: $c-bg-light;
  }

  @include respond-to(tablet) {
    font-size: 14px;
    margin-bottom: 44px;
    width: 460px;
    padding: 15px 30px;
    height: 120px;
  }

  @include respond-to(mobile) {
    font-size: 12px;
    margin-bottom: 32px;
    width: 280px;
    padding: 12px 20px;
    height: 100px;
  }
}

.button {
  @include button-text;
  color: $c-bg-light;
  padding: 16px 96px;
  border-radius: 27px;
  background-color: $c-primary;
  border: 1px solid $c-bg-light;
  cursor: pointer;

  &:hover {
    background-color: $c-primary-light;
  }

  @include respond-to(tablet) {
    font-size: 16px;
    padding: 12px 64px;
  }

  @include respond-to(mobile) {
    font-size: 14px;
    padding: 8px 44px;
  }
}
